@model Menu

@if (Model.Children.Count() == 0)
{
    <el-menu-item index="@Model.Id">
        <i class="@Model.Icon"></i>
        <span>@Model.Name</span>
    </el-menu-item>
}
else
{
    <el-submenu index="@Model.Id">
        <template slot="title">
            <i class="@Model.Icon"></i>
            @Model.Name
        </template>

        @foreach (var children in Model.Children)
        {
            if (children.Children.Count() == 0)
            {
                <el-menu-item index="@children.Id">
                    <i class="@children.Icon"></i>
                    <span>@children.Name</span>
                </el-menu-item>
            }
            else
            {
                @await Html.PartialAsync("~/Views/Home/_Menu.cshtml", children)
            }
        }
    </el-submenu>
}

